.App {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: 10px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  min-width: auto;
  /* gap: 10px; */
  padding: 10px;
  /* height: auto; */
  background-color: #e8e2e2;
}
